*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 630px;
    margin-top: 0;
   

}
.header_content{
    text-align: center;
    padding: 300px 150px;
    color: white
    
}
.header_content h1 {
    font-size: 50px;
    padding: 0px 25%;
    margin-bottom: 80px;
}
